<div class="container" style="margin-top: 50px">
    <div class="col-md-offset-2 col-md-8">

        <form class="form-horizontal" role="form">

            <legend>Cadastrar Anúncio</legend>

            <div class="form-group"> 
                <label class="col-md-4 control-label">Tipo de Anuncio</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select ng-model="anuncioNovo.tipo" name="state" class="form-control selectpicker">
                            <option ng-repeat="tipo in tiposDeAnuncio">{{tipo}}</option>
                        </select>
                        </div>
                    </div>
                </div>

            <fieldset ng-show="anuncioNovo.tipo">
                
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Titulo</label>
                    <div class="col-md-4">
                        <input id="titulo" ng-model="anuncioNovo.titulo" name="titulo" type="text" placeholder="Titulo do anuncio" class="form-control input-md" required="required"/>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group" ng-if="anuncioNovo.tipo!='emprego'">
                    <label class="col-md-4 control-label">Preço</label>
                    <div class="col-md-4">
                        <input id="preco" ng-model="anuncioNovo.quantia" name="quantia" type="number" min="0.1"  step="any" placeholder="Preço" class="form-control input-md" required="required"/>
                    </div>
                </div>
                <div class="form-group" ng-if="anuncioNovo.tipo=='emprego'">
                    <label class="col-md-4 control-label">Salário</label>
                    <div class="col-md-4">
                        <input id="salario" ng-model="anuncioNovo.quantia" name="quantia" type="number" min="0.1"  step="any" placeholder="Salário" class="form-control input-md" required="required"/>
                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <!-- th:action="@{/user/cadastrar/anuncio}" -->
                        <button type="button" ng-click="cadastrarAnuncio(anuncioNovo)" class="btn btn-success">Cadastrar</button>
                        <button type="button" ng-click="limpar(anuncioNovo)" class="btn btn-danger">Limpar</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>


