<div class="container-fluid" style="margin-top: 30px">
    
   <h1>Olá, {{usuarioLogado.nome}}</h1>
   <h3>Como vai?</h3>
   
   </br>
   
   <div ng-if="meusAnunciosEstaVazio()">
       <h4>Você não possui nenhum anúncio cadastrado!</h4>
   </div>
   
   <div ng-if="!meusAnunciosEstaVazio()">
   
   	   <h3>Seus Anúncios Cadastrados</h3>
   	   
   	   </br>
   
	   <table class="table">
		  <thead class="thead-inverse">
		    <tr>
		      <th>Titulo</th>
		      <th>Tipo</th>
		      <th>Postado</th>
		      <th>Preço</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="anuncio in meusAnuncios">
	          <td ng-click="pegarDono(anuncio._id)">{{anuncio.titulo}}</td>
	          <td>{{anuncio.tipo}}</td>
	          <td>{{anuncio.dataDeCriacao}}</td>
	          <td>R$ {{anuncio.quantia}}</td>
	        </tr>
		  </tbody>
		</table>
	</div>
	
	<button type="button" ng-click="criarNovoAnuncio()" class="btn btn-success">Cadastrar Anuncio</button>
	
    <!--<button ng-click="testar()">TESTAR</button>
    <button ng-click="testarUsuario()">TESTAR USUARIO</button>
    <button ng-click="meusAnuncios()">Meus Anuncios</button> -->
</div>