<div class="container-fluid" style="margin-top: 30px">
    
   <h1>Olá, {{usuarioLogado.nome}}</h1>
   <h3>Como vai?</h3>
   
   </br>
   
   <div ng-if="meusAnunciosEstaVazio()">
       <h4>Você não possui nenhum anúncio cadastrado!</h4>
   </div>
   
   <div ng-if="!meusAnunciosEstaVazio()">
   
   	   <h3>Seus Anúncios Cadastrados</h3>
   	   
   	   	<form name="filtragem">
   	   		</br>
			<span>Filtrar por: 
		      <select class="selectpicker" ng-model="tipoDeFiltragemSelecionado" ng-options="tipo for tipo in tiposDeFiltragem"></select>
		      <br></br>
		    </span>

		    <div ng-show="tipoDeFiltragemSelecionado=='Tipo'">
		      <span ng-repeat="tipo in tiposDeAnuncio">
		          <input type="checkbox" ng-model="tiposDeAnuncioStatus[tipo]" checked>{{tipo}}</input>
		      </span>
		    </div>
		    
		    <div ng-show="tipoDeFiltragemSelecionado=='Data'">
		      <span>De 
		          <input type="date" ng-model="inicioDataDeFiltragem"></input>
		      </span>
		      <span>até
		          <input type="date" ng-model="fimDataDeFiltragem"></input>
		      </span>
		    </div>
		    </br>
		<form>

	   <table class="table">
		  <thead class="thead-inverse">
		    <tr>
		      <th>Titulo</th>
		      <th>Tipo</th>
		      <th>Postado</th>
		      <th>Preço</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="anuncio in meusAnuncios" ng-show="tiposDeAnuncioStatus[anuncio.tipo] && validarPeriodo(anuncio)">
	          <td ng-click="pegarDono(anuncio._id)">{{anuncio.titulo}}</td>
	          <td>{{anuncio.tipo}}</td>
	          <td>{{anuncio.dataDeCriacaoFormatada}}</td>
	          <td>R$ {{anuncio.quantia}}</td>
	        </tr>
		  </tbody>
		</table>
	</div>

	<button type="button" ng-click="criarNovoAnuncio()" class="btn btn-success">Cadastrar Anuncio</button>
	
    <!--<button ng-click="testar()">TESTAR</button>
    <button ng-click="testarUsuario()">TESTAR USUARIO</button>
    <button ng-click="meusAnuncios()">Meus Anuncios</button> -->
</div>