<div class="col-md-offset-2 col-md-8">
    <h1>Anúncios</h1>
  
        <!-- EM ANGULAR -->

        <div ng-if="anunciosIsEmpty()">
            <h4>Nenhum Anúncio listado</h4>
        </div>

        <table class="table table-inverse" ng-if="!anunciosIsEmpty()">
          
          <thead class="thead-inverse">
            <tr>
              <th>Titulo</th>
              <th>Tipo</th>
              <th>Postado</th>
              <th align="right">Preço</th>
            </tr>
          </thead>
          
          <tbody>
            <tr ng-repeat="anuncio in anuncios">
              <td ng-click="pegarDono(anuncio._id)">{{anuncio.titulo}}</td>
              <td>{{anuncio.tipo}}</td>
              <td>{{anuncio.dataDeCriacao}}</td>
              <td>R$ {{anuncio.quantia}}</td>
              <td><button ng-click="comprarAnuncio(anuncio)">comprar</button></td>
            </tr>
          </tbody>

        </table>
        
</div>