<div style="padding-top:55px;">

	<CENTER><img src="img/perfil.svg" class="img-circle" align="middle" width=250px height=250px></CENTER>
	
	</br>
	
	<CENTER><div class="panel panel-default">
		<div class="panel-heading">Perfil</div>
		<div class="panel-body">Nome: {{usuarioLogado.nome}}</div>
		<div class="panel-body">Email: {{usuarioLogado.email}}</div>
		<div class="panel-body">Saldo Atual: R$ {{saldoUsuario}}</div>
		<div class="panel-body">Saldo de Compra: R$ {{saldoDevedor}}</div>
		<div class="panel-body">Saldo de Venda: R$ {{saldoCredor}}</div>
	</div></CENTER>
</div>